* {
  @import "tailwindcss";
}

/* Hero-section */

.cloud {
  animation: float 3s linear;
}
.bird {
  animation: fadeIn 3s ease-in forwards;
}
.wing {
  animation: spin 3s linear infinite;
}

@keyframes float {
  0% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(0.1vw);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.groundNut {
  opacity: 0;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: growUp 8s ease-out forwards;
}

.groundNut:nth-of-type(1) {
  animation-delay: 1s;
}
.groundNut:nth-of-type(2) {
  animation-delay: 1.3s;
}
.groundNut:nth-of-type(3) {
  animation-delay: 1.6s;
}
.groundNut:nth-of-type(4) {
  animation-delay: 2s;
}
.groundNut:nth-of-type(5) {
  animation-delay: 2.2s;
}

@keyframes growUp {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

/* Section1  */
.section1 {
  background-image: url("/section1-BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1750px) {
  .sideWing {
    display: none;
  }
}
@media (max-width: 1600px) {
  .factory {
    height: 500px;
    position: absolute;
    top: 365px;
  }
  .tractor {
    position: absolute;
    right: 445px;
    top: 725px;
  }
}
@media (max-width: 1500px) {
  .factory {
    height: 400px;
    position: absolute;
    top: 450px;
  }
  .tractor {
    position: absolute;
    right: 350px;
    top: 725px;
  }
}
@media (max-width: 1400px) {
  .factory {
    height: 400px;
    position: absolute;
    top: 460px;
  }
  .tractor {
    height: 80px;
    position: absolute;
    right: 350px;
    top: 745px;
  }
  .groundNut {
    margin-left: -50px;
    margin-top: 25px;
  }
  .farmer {
    margin-top: 10px;
  }
}
@media (max-width: 1024px) {
  .tractor {
    display: none;
  }
  .farmer {
    margin-top: 35px;
  }
  .factory {
    height: 400px;
    margin-top: 15px;
  }
  .groundNut {
    margin-left: -105px;
  }
  .cloud {
    width: 200px;
  }
  .bird {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .factory {
    width: 350px;
    margin-top: 58px;
  }
  .farmer {
    height: 225px;
    margin-top: 120px;
    margin-left: 50px;
  }
  .groundNut {
    height: 90px;
    width: 80px;
    margin-left: -200px;
    margin-top: 100px;
  }
  .wing {
    height: 135px;
    position: absolute;
    top: 415px;
  }
  .windmill {
    height: 335px;
    position: absolute;
    top: 515px;
    left: 30px;
  }
}

@media (max-width: 425px) {
  .hero{
    height: 600px;
  }
  .factory {
    height: 150px;
    position: absolute;
    left: 125px;
    top: 410px;
  }
  .para {
    width: 300px;
    font-size: 10px;
    margin-left: -100px;
  }
  .wing {
    height: 80px;
    position: absolute;
    top: 340px;
  }
  .windmill {
    height: 200px;
    position: absolute;
    top: 400px;
    left: 18px;
  }
  .farmer{
    height: 100px;
    position: absolute;
    top: 385px;
  }
  .groundNut{
    position: absolute;
    top: 450px;
    height: 60px;
    width: 60px;
    left: 355px !important;
  }

}
